ol {
    list-style: disc;
    margin: 0;
    padding: 0;
    display: block;
}

label {
    display: block;
}

#fb-init { display: none; }
body.fb-init #content { display: none; }
body.fb-init #fb-init { display: block; }
